@using NekoFood.Models
<script>
    // 這個函數用來將 Entity Code 轉回中文
    function decodeEntities(encodedString) {
        var textArea = document.createElement('textarea');
        textArea.innerHTML = encodedString;
        return textArea.value;
    }
    var serverMessage = decodeEntities('@TempData["message"]');
    if (serverMessage.length > 0) {
        alert(serverMessage);
    }
</script>

<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">新增訂單</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        請填寫下列欄位
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-6">
                                <form role="form" asp-controller="BentoOrder" asp-action="Create">
                                    <div class="form-group">
                                        <label>選擇餐點</label>
                                        <select class="form-control" name="bentoName">
                                            @if(ViewBag.bentos != null){
                                                foreach(Bento bento in (List<Bento>)ViewBag.bentos)
                                                {
                                                    <option value="@bento.Name,@(bento.Price)">@bento.Name,@(bento.Price)元</option>
                                                }
                                            }
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label>選擇數量</label>
                                        <select class="form-control" name="number">
                                            @{
                                                for(int i = 1; i <= 10; i++)
                                                {
                                                    <option value="@i">@i</option>
                                                }
                                            }
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label>備註</label>
                                        <input class="form-control" name="remark" maxlength="30">
                                    </div>
                                    <input type="hidden" name="shopGuid" value="@ViewBag.shopGuid" />
                                    <input type="hidden" name="groupGuid" value=@ViewBag.groupGuid />
                                    <button type="submit" class="btn btn-primary">送出</button>
                                    <button type="reset" class="btn btn-success">重設</button>
                                    <a class="btn btn-danger" href="@Url.Action("Index", "BentoOrder")">返回訂單列表</a>
                                    <a class="btn btn-warning" href="@Url.Action("Index", "BentoGroup", new { isGetAll = true })">返回群組列表</a>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

