@model BentoOrder

<script>
    // 這個函數用來將 Entity Code 轉回中文
    function decodeEntities(encodedString) {
        var textArea = document.createElement('textarea');
        textArea.innerHTML = encodedString;
        return textArea.value;
    }
    var serverMessage = decodeEntities('@TempData["message"]');
    if (serverMessage.length > 0) {
        alert(serverMessage);
    }
</script>

<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">修改資料</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        修改完畢後，點選下方的送出按鈕
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-6">
                                @if(Model != null)
                                {
                                    List<Bento> bentos = new List<Bento>();
                                    int indexOfSelectedBento = -1;
                                    int priceOfSelectedBento = 0;

                                    // 搜尋之前選擇的餐點，其所在的索引
                                    if(ViewBag.bentos != null)
                                    {
                                        bentos = (List<Bento>)ViewBag.bentos;
                                        for(int i = 0; i < bentos.Count; i++)
                                        {
                                            if(Model.BentoName == bentos[i].Name)
                                            {
                                                indexOfSelectedBento = i;
                                                priceOfSelectedBento = bentos[i].Price;
                                                break;
                                            }                
                                        }
                                    }

                                    <form role="form" asp-controller="BentoOrder" asp-action="Edit">
                                        <div class="form-group">
                                            <label>選擇餐點</label>
                                            <select class="form-control" name="bentoName">
                                                @if(indexOfSelectedBento != -1)
                                                {
                                                    // 顯示之前選擇的餐點，與對應的價格
                                                    <option value="@bentos[indexOfSelectedBento].Name,@bentos[indexOfSelectedBento].Price">@bentos[indexOfSelectedBento].Name,@(bentos[indexOfSelectedBento].Price)元</option>

                                                    // 顯示其餘的餐點與對應的價格
                                                    for(int i = 0; i < bentos.Count; i++)
                                                    {
                                                        if(i != indexOfSelectedBento)
                                                        {
                                                            <option value="@bentos[i].Name,@(bentos[i].Price)">@bentos[i].Name,@(bentos[i].Price)元</option>
                                                        }
                                                    }
                                                }
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label>選擇數量</label>
                                            <select class="form-control" name="number">
                                                @{
                                                    // 顯示之前選擇的數量
                                                    <option value="@Model.Number">@Model.Number</option>

                                                    // 列出其餘可以選擇的數量
                                                    for(int i = 1; i <= 10; i++)
                                                    {
                                                        if(i != Model.Number)
                                                        {
                                                            <option value="@i">@i</option>
                                                        }
                                                    }
                                                }
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label>備註</label>
                                            <input class="form-control" name="remark" maxlength="30" value="@Model.Remark">
                                        </div>
                                        <input type="hidden" name="id" value=@Model.Id />
                                        <button type="submit" class="btn btn-primary">送出</button>
                                        <button type="reset" class="btn btn-success">重設</button>
                                        <a class="btn btn-danger" href="@Url.Action("Index", "BentoOrder")">返回列表</a>
                                    </form>
                                }
                                else
                                {
                                    <div>發生錯誤，請稍後再試</div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

