@model List<Bento>

<script>
    function DeleteData(idOfData) {
        var result = confirm("確定要刪除這筆資料?");
        if (result) {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("Delete", "Bento")',
                data: { id: idOfData }
            })
            .done(function (message) {
                alert(message);
                if (message == "刪除成功") {
                    self.location.reload();
                }
            });
        }
    }

    function CreateData(shopGuid) {
        var result = prompt("輸入商品名稱和價格(以逗號分隔)");
        if (result) {
            var data = result.trim().split(',');
            if (data.length != 2) {
                alert("新增失敗，請檢查輸入的內容");
                return false;
            }

            var name = data[0];
            var price = parseInt(data[1]) ;

            if(name.length > 30){
                alert("商品名稱最多30個字");
                return false;
            }
            
            if(isNaN(price) || price > 2147483647 || price < 0){
                alert("輸入價格有誤");
                return false;
            }

            $.ajax({
                type: 'POST',
                url: '@Url.Action("Create", "Bento")',
                data: { shopGuid: shopGuid, name: name, price: price }
            })
            .done(function (message) {
                if (message == "新增成功") {
                    self.location.reload();
                }
                else{
                    alert(message);
                }
            });
        }
    }

    function EditData(idOfData) {
        var result = prompt("輸入商品名稱和價格(以逗號分隔)");
        if (result) {
            var data = result.trim().split(',');
            if (data.length != 2) {
                alert("修改失敗，請檢查輸入的內容");
                return false;
            }

            var name = data[0];
            var price = parseInt(data[1]) ;

            if(name.length > 30){
                alert("商品名稱最多30個字");
                return false;
            }
            
            if(isNaN(price) || price > 2147483647 || price < 0){
                alert("輸入價格有誤");
                return false;
            }

            $.ajax({
                type: 'POST',
                url: '@Url.Action("Edit", "Bento")',
                data: { id: idOfData, name: name, price: price }
            })
            .done(function (message) {
                if (message == "修改成功") {
                    self.location.reload();
                }
                else{
                    alert(message);
                }
            });
        }
    }
</script>

<script>
    // 這個函數用來將 Entity Code 轉回中文
    function decodeEntities(encodedString) {
        var textArea = document.createElement('textarea');
        textArea.innerHTML = encodedString;
        return textArea.value;
    }
    var serverMessage = decodeEntities('@TempData["message"]');
    if (serverMessage.length > 0)
    {
        alert(serverMessage);
    }
</script>

<div id = "page-wrapper" >
     <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">商品列表</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <button class="btn btn-primary" onclick="CreateData('@ViewBag.ShopGuid')">新增商品</button>
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                                <thead>
                                    <tr>
                                        <th style="display:none;">排版用(不顯示)</th>
                                        <th style="white-space: nowrap;">商品名稱</th>
                                        <th style="white-space: nowrap;">商品價格</th>
                                        <th style="white-space: nowrap;">操作選項</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        if(Model != null)
                                        {
                                            int sequence = 0;
                                            foreach (var data in Model)
                                            {
                                                sequence++;
                                                <tr class="gradeA">
                                                    <td style="display:none;">@sequence</td>
                                                    <td>@data.Name</td>
                                                    <td>@data.Price</td>
                                                    <td style="white-space: nowrap;">
                                                        <button class="btn btn-success" onclick="EditData(@data.Id)">修改</button>
                                                        <button class="btn btn-danger" onclick="DeleteData(@data.Id)">刪除</button>
                                                    </td>
                                                </tr>
                                            }
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
